.header {
    text-align: left;
    background: transparent;
    margin-left: 300px;
    color: white;
}
    .topnav {
        overflow: hidden;
        background-color: transparent;
        opacity: .90;
      }
      
      .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 27px;   
        margin-top: 0; 
        font-family: 'Cantora One', sans-serif;
        display: flex; /* 1 */
        justify-content: space-between; /* 2 */
        margin-top: 45px;
      }
      
      .topnav a:hover {
        background-color: gray;
        color: black;
      }
      
      .topnav a.active {
        padding-right: 100px;
        background-color: none;
        color: black;
    }
    .portfolio {
       margin-left: 200px;
       margin-top: 50px; 
       font-size: 40px;
       position: inherit;
    }
    .span {
        color: rgb(39, 182, 134);
    }
    .name {
        margin-top: 150px;
        text-align: center;
        font-size: 80px;
        color: white;
        font-family: 'Neuton', serif;
    }
    .subname {
        text-align: center;
        font-size: 50px;
        color: rgb(39, 182, 134);
        font-family: 'Neuton', serif;
        margin-top: 0;
        margin: 0;

    }
    .bg2 {
      background-color: black;
    }
    .Aboutme {
      text-align: center;
      font-size: 60px;
      padding-top: 150px;
      margin: 0;
      font-family: 'Neuton', serif;
      color: white;
    }
    .description {
      text-align: center;
      font-size: 30px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 250px;
      margin: 0;
      color: white;
    }
    .bg3{
      background-color: gray;
    }
    .myportfolio {
      text-align: center;
      font-size: 60px;
      padding: 50px;
      margin-top: 0;
      margin: 0;
      font-family: 'Neuton', serif;
      color: Black;
    }
    .picture {
      margin-left: 100px;
     padding-left: 140px;
     }
     .button {
      text-align: center;
      margin-left: 680px;
      Margin-right: 650px;
      margin-bottom: 50px;
      margin-top: 20px;
      padding: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 30px;
      color: black;
      background: rgb(19, 212, 19);
     }
     .button:hover {background-color: #3e8e41}

     .button:active {
     background-color: #3e8e41;
     transform: translateY(4px);
     }
     .bg4 {
     background-color: black;
     }
     .contactme {
      text-align: left;
      font-size: 110px;
      padding: 50px;
      padding-bottom: 0;
      margin-bottom: 10px;
      margin-top: 0;
      margin-left: 100px;
      font-family: 'Neuton', serif;
      color: white;
    }
    .logo {
      margin-left: 100px;
      margin-top: 0;
      color: white;
      font-size: 30px;
      padding-right: 100px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      height:30px; 
      width:30px;
    }
    .logo:hover {background-color: #3e8e41}

    .logo:active {
    background-color: #3e8e41;
    transform: translateY(4px);
    }
    .button2 {
      font-size: 25px;
      color: White;
      background: rgb(19, 212, 19);
      padding: 24px;
      padding-top: 10px;
      margin-top: 0;
      font-family: 'Neuton', serif;
    }
    .button2:hover {background-color: #3e8e41}

     .button2:active {
     background-color: #3e8e41;
     transform: translateY(4px);
     }
    .form {
      color: white;
      margin-left: 170px;
    }
    .columns {
      text-align: left;
      padding-left: 100px;
      padding-top: 0px;
      margin-top: 0;
    }
    .table {
      padding-top: 30px;
      background-color: transparent;
      padding-left: 100px;
    }
    .button3 {
      text-align: center;
      margin-left: 790px;
      Margin-right: 650px;
      margin-bottom: 50px;
      margin-top: 20px;
      padding: 25px;
      padding-top: 10px;
      padding-bottom: 15px;
      font-size: 30px;
      color: white;
      background: rgb(19, 212, 19);
      font-family: 'Neuton', serif;
     }
     .button3:hover {background-color: #3e8e41}

     .button3:active {
     background-color: #3e8e41;
     transform: translateY(4px);
     }
     .logo2 {
      padding-top: 0;
      padding-left: 225px;
      margin-top: 0;
     }
     .textarea {
      font-size: 20px;
      font-family: 'Neuton', serif;
     }
     .bg5 {
      padding: 5px;
      padding-top: 200px;
      background-color: black;
      color: white;
      text-align: center;
    }
    .message {
      border: 1px solid white;
      color: white;
      background-color: transparent;
    }
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: None;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: None;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: rgb(19, 212, 19);
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }
    
    #myBtn:hover {
      background-color: #555;}

      .grid-container {
        display: grid;
        grid-template-columns: auto auto;
      }
      .grid-item {
        font-size: 35px;
        text-align: left;
        color: white;
        padding-left: 150px;
    }
    .grid-item2 {
      font-size: 50px;
      text-align: left;
      color: white;
      padding-left: 150px;
      margin-top: 45px;
    }
      .grid-item3 {
        font-size: 50px;
        text-align: left;
        color: white;
        padding-left: 200px;
        margin-top: -75px;
      }
      .grid-item4 {
        font-size: 50px;
        text-align: left;
        color: white;
        padding-left: 150px;
      }