.header {
    text-align: left;
    background: transparent;
    margin-left: 300px;
    color: white;
}
    .topnav {
        overflow: hidden;
        background-color: transparent;
        opacity: .90;
      }
      
      .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 27px;   
        margin-top: 18px; 
        font-family: 'Cantora One', sans-serif;
      }
      
      .topnav a:hover {
        background-color: gray;
        color: black;
      }
      
      .topnav a.active {
        background-color: none;
        color: black;
    }
    .portfolio {
       margin-left: 200px;
       margin-top: 27px; 
       font-size: 40px;
    }
    .span {
        color: #10f7fb;
    }
    .name {
        margin-top: 130px;
        text-align: center;
        font-size: 80px;
        color: rgb(39, 182, 134);
        font-family: 'Neuton', serif;
    }
    .subname {
        text-align: center;
        font-size: 50px;
        color: rgb(39, 182, 134);
        font-family: 'Neuton', serif;
        margin-top: 0;
        margin: 0;

    }
    .bg2 {
      background-color: gray;
    }
    .Aboutme {
      text-align: center;
      font-size: 60px;
      padding-top: 200px;
      margin: 0;
      font-family: 'Neuton', serif;
    }
    .description {
      text-align: center;
      font-size: 30px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 250px;
      margin: 0;
    }
    .bg3{
      background-color: black;
    }
    .myportfolio {
      text-align: center;
      font-size: 60px;
      padding: 50px;
      margin-top: 0;
      margin: 0;
      font-family: 'Neuton', serif;
      color: white;
    }
    .picture {
      margin-left: auto;
     margin-right: auto;

    }
