@media only screen and (max-width: 280px){
    .bg { 
        width: 280px;
        height: 305px;
      }
      .topnav a.active {
          margin-right: 4px;
          font-size: 11px;
          justify-content: space-between;
          padding: 7px 9px;
          text-decoration: none;
          margin-top: -8px;
          text-align: center;
          padding-left: 0px;
      }
      .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 7px 0px;
        text-decoration: none;
        font-size: 11px;
        margin-top: 0;
        font-family: 'Cantora One', sans-serif;
        display: flex;
        justify-content: space-between;
        margin-top: -8px;
        margin-right: 7px;
}
.portfolio {
    margin-left: 16px;
    margin-top: 2px;
    font-size: 10px;
    position: inherit;
}
.name {
    margin-top: 94px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Neuton', serif;
}
.subname {
    text-align: center;
    font-size: 22px;
    color: rgb(39, 182, 134);
    font-family: 'Neuton', serif;
    margin-top: 0;
    margin: 0;
}
.Aboutme {
    text-align: center;
    font-size: 21px;
    padding-top: 56px;
    margin: 0;
    font-family: 'Neuton', serif;
    color: white;
}

.description {
        text-align: center;
        font-size: 9px;
        padding-left: 21px;
        padding-right: 28px;
        padding-bottom: 229px;
        padding-top: 23px;
        margin: 0;
        color: white;
    }
    .bg2 {
        background-color: black;
        height: 253px;}
        .myportfolio {
            text-align: center;
            font-size: 14px;
            padding: 18px;
            margin-top: 0;
            margin: 0;
            font-family: 'Neuton', serif;
            color: Black;
        }
        .bg3 {
            background-color: gray;
            height: 288px;
        }
        .button {
            text-align: center;
            margin-left: 74px;
            Margin-right: 551px;
            margin-bottom: 2px;
            margin-top: 6px;
            padding: 49px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 7px;
            color: black;
            background: rgb(19, 212, 19);
        }
        .contactme {
            text-align: left;
            font-size: 25px;
            padding: -2px;
            padding-bottom: 0;
            margin-bottom: 10px;
            margin-top: 0;
            margin-left: 28px;
            font-family: 'Neuton', serif;
            color: white;
        }
        .grid-item {
            font-size: 8px;
            text-align: left;
            color: white;
            padding-left: 5px;
        }
    }