@media only screen and (max-width: 280px){
    .bg { 
        width: 280px;
        height: 305px;
      }
      .topnav a.active {
          margin-right: 4px;
          font-size: 11px;
          justify-content: space-between;
          padding: 7px 9px;
          text-decoration: none;
          margin-top: -8px;
          text-align: center;
          padding-left: 0px;
      }
      .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 7px 0px;
        text-decoration: none;
        font-size: 11px;
        margin-top: 0;
        font-family: 'Cantora One', sans-serif;
        display: flex;
        justify-content: space-between;
        margin-top: -8px;
        margin-right: 7px;
}
.portfolio {
    margin-left: 16px;
    margin-top: 2px;
    font-size: 10px;
    position: inherit;
}
.name {
    margin-top: 94px;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Neuton', serif;
}
.subname {
    text-align: center;
    font-size: 22px;
    color: rgb(39, 182, 134);
    font-family: 'Neuton', serif;
    margin-top: 0;
    margin: 0;
}
.Aboutme {
    text-align: center;
    font-size: 21px;
    padding-top: 56px;
    margin: 0;
    font-family: 'Neuton', serif;
    color: white;
}

.description {
        text-align: center;
        font-size: 9px;
        padding-left: 21px;
        padding-right: 28px;
        padding-bottom: 229px;
        padding-top: 23px;
        margin: 0;
        color: white;
    }
    .bg2 {
        background-color: black;
        height: 253px;}
        .myportfolio {
            text-align: center;
            font-size: 14px;
            padding: 18px;
            margin-top: 0;
            margin: 0;
            font-family: 'Neuton', serif;
            color: Black;
        }
        .bg3 {
            background-color: gray;
            height: 288px;
        }
        .button {
            text-align: center;
            margin-left: 74px;
            Margin-right: 551px;
            margin-bottom: 2px;
            margin-top: 6px;
            padding: 49px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 7px;
            color: black;
            background: rgb(19, 212, 19);
        }
        .contactme {
            text-align: left;
            font-size: 25px;
            padding: -2px;
            padding-bottom: 0;
            margin-bottom: 10px;
            margin-top: 0;
            margin-left: 28px;
            font-family: 'Neuton', serif;
            color: white;
        }
        .button2 {
            font-size: 5px;
            color: #3e8e41;
            background: White;
            padding: 5px;
            padding-top: 4px;
            margin-top: 0;
            font-family: 'Neuton', serif;
            margin-left: 110px;
        }
        .contactme {
            text-align: left;
            font-size: 20px;
            padding: -2px;
            padding-bottom: 0;
            margin-bottom: 10px;
            margin-top: 0;
            margin-left: -8px;
            font-family: 'Neuton', serif;
            color: white;
        }
        .form {
            color: white;
            margin-left: 53px;
        }
        input {
            width: 73%;
            height: 30px;
            font-size: 8px;
            border: 1px solid white;
            background-color: transparent;
            color: white;
        }
        element.style {
            background-color: transparent;
            height: 146px;
            width: 73%;
            color: white;
            border: 1px solid white;
            font-size: 8px;
        }
        textarea {
            background-color: transparent;
            height: 195px;
            width: 73%;
            color: white;
            border: 1px solid white;
            font-size: 10px;
        }
        .button3 {
            text-align: center;
            margin-left: 51px;
            margin-bottom: 35px;
            margin-top: 12px;
            padding: 32px;
            padding-top: 10px;
            padding-bottom: 15px;
            font-size: 10px;
            color: white;
            background: rgb(19, 212, 19);
            font-family: 'Neuton', serif;
        }
        .button4 {
            font-size: 10px;
            color: #3e8e41;
            background: White;
            padding: 8px;
            padding-top: -4px;
            margin-top: 0;
            font-family: 'Neuton', serif;
            margin-right: 429px;
            margin-left: -161px;
        }
        .grid-item {
            font-size: 13px;
            text-align: left;
            margin-left: 66px;
        }
    .grid-item1 {
        font-size: 14px;
        text-align: left;
    }
    .grid-item3 {
        font-size: 13px;
        text-align: left;
        margin-left: -74px;
    }
    .grid-item4 {
            font-size: 8px;
            text-align: left;
    }
    .grid-item5 {
        font-size: 13px;
        text-align: left;
        margin-left: -65px;
    }
    .grid-item6 {
        font-size: 9px;
        text-align: left;
        margin-right: 408px;
        margin-left: 0px;
    }
    .bg5 {
        padding: 10px;
        padding-top: 21px;
        background-color: #3e8e41;
        color: white;
        text-align: left;
        height: 432px;
    }
    .grid-item1 {
        font-size: 8px;
        text-align: left;
    }
    .bottom {
        padding-top: 190px;
        text-align: left;
        padding-left: 16px;
        height: 134px;
    }
    .grid-container {
        display: grid;
        /* grid-template-columns: auto auto auto auto; */
        color: white;
        justify-items: center;
        align-items: stretch;
        justify-content: center;
        align-content: center;
        margin-top: 44px;
    }
    .grid-items {
        font-size: 1px;
        text-align: left;
        padding-left: 0px;
    }
}